body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'coolfont';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'), */
       /* url('webfont.woff2') format('woff2'), */
       /* url('webfont.woff') format('woff'), */
  src: url('./assets/fonts/汉仪菱心体简.TTF') format('truetype');
       /* url('webfont.svg#svgFontName') format('svg'); */
}
