body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'coolfont';
  src: url('./assets/fonts/ez.eot');
  src: url('./assets/fonts/ez.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/ez.woff') format('woff'),
       url('./assets/fonts/ez.TTF') format('truetype'),
       url('./assets/fonts/ez.svg#svgFontName') format('svg');
}
